.DropShipBanner {
    padding: 50px 0;
}

.tikTokBanner {
    background: url(/Images/DropShipping/DropShipBanner/dropshipBackground.png),
      #fff;
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .tikTokBanner h2 {
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-family: sans-serif;
    font-weight: 800;
  }
  @media (max-width: 991px) {
      .tikTokBanner h2 {
          font-size: 52px;
        }
  }
  @media (max-width: 767px) {
      .tikTokBanner h2 {
          font-size: 32px;
        }
        /* .tikTokBanner {
          background-size: cover;
        } */
  }