.business-process {
  padding: 50px 0;
}
.processCard {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(91, 24, 156, 0.1) 0%,
    rgba(91, 24, 156, 0) 92.71%
  );
  padding: 30px 15px 0;
}
