.customers {
  padding: 50px 0;
  position: relative;
  background-color: white;
}
.customer-card {
  background-image: url(/Images/HomePage/Clients/bannerr\ 1.png);
}
.customers .customer-card .swiper-slide img {
  filter: brightness(0) invert(1);
}