* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: unset;
  text-decoration: none !important;
}
.grey-text {
  color: #aeb3bd;
}
.color-heading-purple {
  color: #6634b9;
}
.section-heading .heading {
  font-weight: 700;
  letter-spacing: -1.6px;
  margin-bottom: 0px;
  color: #000;
}
.section-heading .heading span {
  color: #651bae;
}
.explore-btn {
  margin: auto;
  font-weight: 700;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: table;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  color: #000;
}
.explore-btn.active {
  background: linear-gradient(180deg, #651bae 10.71%, #000 126.79%);
  color: white;
  border: none;
}
.white-btn {
  border: 0px;
  background-color: white;
  padding: 10px 15px;
  font-weight: 700;
  color: #551792;
  border-radius: 7px;
}
@media (min-width: 991px) {
  .shrink {
    padding: 0 10%;
  }
}
