.whiteLabel {
    padding: 50px 0;
}
.whiteLabel .amazon-card .img-wrapper{
    width: 90px;
    height: 90px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s ease-in-out;
}
.whiteLabel .amazon-card:hover .img-wrapper {
    background-color: #DACEED;
}
.whiteLabel .amazon-card .img-wrapper img {
    width: 60%;
}
.whiteLabel .amazon-card .amazon-heading h3{
    font-size: 24px;
    font-weight: 700;
    color: #3E116B;
}